{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
<style>
    .small-image {
        width: auto;
        height: auto;
    }
</style>
<div class="text-center m-3 p-3">
    <h1 class="text-center">Music Player</h1>
    <p>
        <strong>Online Music Platform</strong>
    </p>
    <div class="container text-center">
        <div class="row">
            <img class="align-center col-6" src="{% static 'songs/images/Home_2.png' %}" alt="">
            <img class="col-6" src="{% static 'songs/images/Home.png' %}" alt="">
        </div>
        <div class="row">
            <div class="col-1">

            </div>
            <div class="col-10 text-center align-items-center">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dolorum consectetur natus autem libero adipisci saepe
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quod, hic odit, dolorem non quisquam
                    doloremque laborum fugit quae animi alias magnam possimus esse aperiam fuga libero? Molestiae, culpa
                    voluptatem?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae animi veritatis, nostrum
                    iste, voluptatem quas excepturi odio repudiandae blanditiis sint possimus dolor officia ipsam nulla
                    eligendi corrupti. Ut, fuga ducimus.
                </p>
            </div>
            <div class="col-1">

            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Free</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/mo</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>10 users included</li>
                        <li>2 GB of storage</li>
                        <li>Email support</li>
                        <li>Help center access</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Pro</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mo</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>20 users included</li>
                        <li>10 GB of storage</li>
                        <li>Priority email support</li>
                        <li>Help center access</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                    <h4 class="my-0 fw-normal">Enterprise</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$29<small class="text-body-secondary fw-light">/mo</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>30 users included</li>
                        <li>15 GB of storage</li>
                        <li>Phone and email support</li>
                        <li>Help center access</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}