{% extends 'base.html' %}
{% load static %}
{% block title %}Genre{% endblock %}

{% block content %}

<div class="row m-3">
    {% for song in songs %}
    <div class="col-6">
        <div class="card mb-3 border-dark" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{song.cover_img.url}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ song.title }}</h5>
                        <p class="card-text">{{ genre.description|truncatewords:15 }}</p>
                        <audio controls preload="none">
                            <source src="{{song.audio_file.url}}" type="audio/mp3">
                        </audio>
                        <br>
                        <br>
                        {% for genre in song.genres.all %}
                        <span class="badge bg-secondary">{{ genre.name }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}