{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://prod-site.flat-cdn.com/img/10c63cf.webp" class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form method="POST">

                    {% csrf_token %}
                    {{ form.as_p }}

                    <button type="submit" class="btn btn-primary btn-lg m-3">Login</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}